* {
  margin: 0;
  background-color: #e9e1cc;
}

code {
  font-family: "Montserrat", monospace;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
span {
  font-family: "Montserrat";
}

button {
  background-color: #6e5773;
  color: #fff;
  border-radius: 5px !important;
  border-style: solid;
  padding: 10px 20px;
  transition: opacity 0.5s;
}

button:hover {
  opacity: 0.7;
}
